<section *ngIf="movie" class="movie">
    <h2 class="title"><span class="movie-title">{{movie.title | uppercase}}</span> Details</h2>
    <section>
        <ul class="list">
            <li class="item">Title: <input class="input" [(ngModel)]="movie.title" placeholder="title"/> </li>
            <li class="item">Year: <input class="input" [(ngModel)]="movie.year" placeholder="year"/> </li>
            <li class="item">Duration: <input class="input" [(ngModel)]="movie.duration" placeholder="duration"/> </li>
        </ul>
        <h3>Casting: </h3>
        <ul class="list">
            <li class="item" *ngFor="let actor of movie.cast">
                Name: {{actor.name}}, Age: {{actor.age}}
            </li>
        </ul>
    </section>
    <button class="btn" (click)="save()">Save</button>
    <button class="btn" (click)='goBack()'>Back</button>
</section>
