.container
{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
    margin: 5px;
    padding: 5px;
    
}

.child:hover
{
   
    background-color: rgba(31, 31,31, 0.9);
    opacity: 0.5;
   
}

#caption
{
    font-size: 20px;
    position: absolute;
    margin-left: 50px;
    
    margin-top: 20px;
    font-weight: bold;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
}

.container:hover p#caption
{
    margin-left: 50px;
   
}

p 
{
    visibility: hidden;
}

.child:hover p#caption
{
    visibility: visible;
}

