
header,footer,aside,nav {
    background: rgb(135, 221, 65);
}

* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   /* 2.3.6 
   font-weight: bold; This is how I would add weight to the fonts, because they are not override*/
}

header,footer{
    text-align: center;
}


.header{
    font-size: 46px; 
}

.footer{
    font-size: 10px;
}

.content{
    font-size: 14px;
}

.navigation{
    font-size: 12px;
}

.sidebar{
    font-weight: 10px;
}



[class*="a"],:not([class$="r"]) {
	background-color: blue;
}

[class$="r"] {
	background-color: magenta;
}


/* 2.3.7 I would add an ID to just override the background
#with-green{
    background: green; }*/


.wrapper {
    display: flex;  
    flex-flow: row wrap;
  }
  
  .wrapper > * {
    padding: 10px;
    flex:  100%;
    
  }
  

  
  @media all and (min-width: 600px) {
    .sidebar,.navigation { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .content    { flex: 3 0px; }
    .navigation { order: 1; } 
    .content    { order: 2; }
    .sidebar { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2.5em;
  }