* {
  font-family: "Roboto", sans-serif;

  section {
    text-align: center;
    justify-content: center;
    margin: 10px;
    align-content: center;
    align-items: center;
  }
  #joke-section {
    margin-left: 25%;
    background-color: #ccc;
    height: 100px;
    width: 50%;
  }

  button {
    margin-left: 47%;
  }
}
