html { 
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: black;
}

header {
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    height: 30px;
    width: 96%;
    margin: 10px; 
}

nav {
   
    background-color: green;
    padding: 20px;
    border-radius: 15px;
    float: left;
    width: 20%;
    height: 300px;
    margin: 10px;
}

section {
    padding: 20px;
    border-radius: 15px;
    float: left;
    width: 45%;
    height: 300px;
    margin: 8px;
    background-color: gray;
}

article {
    padding: 20px;
    background-color: gainsboro;
    border-radius: 15px;
    height: 140px;
    width: 93%;
    margin: 10px;
}

aside {
    padding: 20px;
    background-color: rebeccapurple;
    border-radius: 15px;
    float: left;
    width: 20%;
    height: 300px;
    margin: 10px;
}

footer {
    padding: 10px;
    background-color: bisque;
    text-align: center;
    border-radius: 15px;
    float: left;
    width: 96%;
    height: 25px;
    text-align: center;
    margin: 5px;
}

.header {
    font-size: 46px;
}

.footer {
    font-size: 10px;
}

.content {
    font-size: 14px;
}

.navigation {
    font-size: 12px;
}

.sidebar {
    font-size: 10px;
}

*[class$="r"] {
    background-color: magenta;
}

*[class*="a"]:not([class$="r"]) {
    background-color: blue;
}
