form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  h2 {
    margin-left: 25%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 30px;
    }
    label {
      display: inline-block;
      width: 90px;
      text-align: right;
    }
    input {
      width: 300px;
      box-sizing: border-box;
      border: 1px solid #999;
    }
    textarea {
      width: 300px;
      box-sizing: border-box;
      border: 1px solid #999;
    }
    button {
      margin-left: 40%;
    }
  }
}
