*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: snow;
}

.drop{
    border: 5px solid black;
    border-radius: 5px;
    width:  400px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.dropTittle{
    margin: 10px auto;
    text-align: center;
}

.data{
    margin: 20px;
}

.fileItem{
    margin: 10px auto;
}