*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
}

.image{
    position: relative;
}

.screen {
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    position: absolute;
	opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.screen:hover{
  opacity: 1
}

.tittle{
    color: snow;
    text-align: center;
    margin: 20px auto;
}

.grid .item{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

div{
    margin: auto;
}



